{{>layouts/header}}
<form action="/Articles/create" method="post">
    <div>
        <label>제목</label>
        <input type="text" name="title">
    </div>

    <div>
        <label>내용</label>
        <textarea name="content" placeholder="내용을 입력하세요"></textarea>
    </div>

    <button type="submit">제출</button>
</form>

{{>layouts/footer}}